{% extends 'bootstrap_3_layout.html.twig' %}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({'data-select': 'select2', 'data-placeholder': ''}) %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{%- block radio_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' flat')|trim}) %}
    {{- parent() -}}
{%- endblock radio_widget -%}

{%- block checkbox_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' flat')|trim}) %}
    {{- parent() -}}
{%- endblock checkbox_widget -%}

{% block status_widget %}
    {% spaceless %}
        {% if expanded %}
            <div {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                {% endfor %}
            </div>
        {% else %}
            {# just let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block file_widget -%}
    <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-primary">
                {%- set attr = attr|merge({style: (attr.style|default('') ~ ' display: none;')|trim}) -%}
                {{ 'Browse'|trans }}&hellip; {{- block('form_widget_simple') -}}
            </span>
        </label>
        <input type="text" class="form-control" readonly>
    </div>
{%- endblock file_widget %}
