{% extends '::base.html.twig' %}

{% set body_classes = 'error-page' %}

{% block title %}{{ status_text|trans }}{% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center">
                        <h1 class="error-number">{{ status_code }}!</h1>
                        <h2>{{ 'error.ops'|trans({'%code%': status_code, '%text%': status_text|trans}) }}</h2>
                        <p>{{ 'error.message'|trans({'%url%': path('admin_main_homepage')})|raw }}</p>
                        <div class="mid_center">
                            <h3>{{ 'Search'|trans }}</h3>
                            <form>
                                <div class="col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="{{ 'Search by...'|trans }}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">{{ 'Go!'|trans }}</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
{% endblock %}
