<!DOCTYPE html>
<html lang="pt-BR">
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} | {{ site_prefix ~ ' ' ~ site_name }}{% if site_slogan %} - {{ site_slogan }}{% endif %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap -->
        <link href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
        <!-- Select2 -->
        <link href="{{ asset('assets/vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}

        <!-- Custom Theme Style -->
        <link href="{{ asset('assets/css/custom.min.css') }}" rel="stylesheet">
    </head>
    <body class="nav-md{% if body_classes is defined %} {{ body_classes }}{% endif %}">
        {% block body %}{% endblock %}

        <!-- jQuery -->
        <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        {% block javascripts %}{% endblock %}

        <!-- Custom Theme Scripts -->
        <script src="{{ asset('assets/js/custom.js') }}"></script>
    </body>
</html>
