{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <h1>Formulário Login</h1>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <div>
        <input type="text" id="username" name="_username" class="form-control" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required="required"/>
    </div>
    <div>
        <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required"/>
    </div>

    <div class="checkbox">
        <label for="remember_me">
            <input type="checkbox" id="remember_me" name="_remember_me" data-checkbox="switch" checked/> {{ 'security.login.remember_me'|trans }}
        </label>
    </div>

    <div>
        <a class="reset_pass" href="{{ path("fos_user_resetting_request") }}">Esqueceu sua senha?</a>
        <input class="btn btn-default submit" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
    </div>

    <div class="clearfix"></div>

    <div class="separator">
        <p class="change_link">Não tem cadastro?
            <a href="{{ url('fos_user_registration_register') }}" class="to_register"> Criar conta </a>
        </p>

        <div class="clearfix"></div>
        <br>

        <div>
            <h1><i class="fa fa-paw"></i> {{ site_name }}</h1>
            <p>Copyright ©2017 {{ site_name }}</p>
        </div>
    </div>
</form>
